include ../mixins/base

doctype html
html
  head
    title #{title}
    link(rel="stylesheet" href="/stylesheets/fonts/all.css")
    link(rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="/javascripts/app.js")
    script(src="/javascripts/vendor/bootstrap.min.js")
    meta(charset="utf-8")
  body
    +flash
      block content