include layout/layout

block content
  .container-fluid
    .row.no-gutter
      .d-none.d-md-flex.col-md-4.col-lg-6.bg-image
      .col-md-8.col-lg-6
        .login.d-flex.align-items-center.py-5
          .container
            .row
              .col-md-9.col-lg-8.mx-auto
                h2.login-heading.mb-4 Chatroom
                form
                  .form-label-group
                    input#inputEmail.form-control(type='email' placeholder='Pseudonyme' required='' autofocus='')
                    label(for='inputEmail') Pseudonyme
                  .form-label-group
                    input#inputSex.form-control.fa-check.custom-checkbox(type='checkbox' placeholder='Sexe' required='' autofocus='')
                    label(for='inputEmail') Sexe
                  button.btn.btn-lg.btn-primary.btn-block.btn-login.text-uppercase.font-weight-bold.mb-2(type='submit') Connexion
