include layout/layout

block content
  .container-fluid
    .row.no-gutter
      .d-none.d-md-flex.col-md-4.col-lg-8.bg-image
      .col-md-8.col-lg-4
        .login.d-flex.align-items-center.py-5
          .container
            .row
              .col-md-9.col-lg-8.mx-auto
                h1.login-heading.mb-4.text-center Bienvenue
                h3.login-heading.mb-4.text-center Connectez vous et chattez!
                form(method="post")
                  .form-label-group
                    input#inputName.form-control(type='text' placeholder='Pseudonyme' required=''
                      name='inputName' autofocus='true' maxlength="15")
                    label(for='inputName') Pseudonyme
                  .form-group.text-center
                    .form-check.form-check-inline
                      input#inlineCheckbox1.form-check-input(type='radio' name='inputSex' value='male' checked="true")
                      label.form-check-label.fas.fa-male.fa-2x(for='inlineCheckbox1')
                      .form-check
                      input#inlineCheckbox2.form-check-input(type='radio' name ='inputSex' value='female')
                      label.form-check-label.fas.fa-female.fa-2x(for='inlineCheckbox2')
                    .form-group.mt-4
                      .well.well-sm.text-center
                        .btn-group(data-toggle='buttons')
                          label.btn.btn-success.active
                            input(type='radio' name='inputColor' autocomplete='off' checked='true' value="1E7E34")
                            span.glyphicon.glyphicon-ok
                          label.btn.btn-primary
                            input(type='radio' name='inputColor' autocomplete='off' value="0069D9")
                            span.glyphicon.glyphicon-ok
                          label.btn.btn-info
                            input(type='radio' name='inputColor' autocomplete='off' value="138496")
                            span.glyphicon.glyphicon-ok
                          label.btn.btn-warning
                            input(type='radio' name='inputColor' autocomplete='off' value="E0A800")
                            span.glyphicon.glyphicon-ok
                          label.btn.btn-danger
                            input(type='radio' name='inputColor' autocomplete='off' value="C82333")
                            span.glyphicon.glyphicon-ok
                    .form-group
                      .slidecontainer
                        p Âge:
                          span#demo
                        input.slider#myRange(type='range' min='18' max='100' value='60' name='inputAge')

                    button.btn-login(type="submit") Connexion

                    script(type="text/javascript") document.addEventListener("DOMContentLoaded", function (event) { var slider = document.getElementById("myRange");var output = document.getElementById("demo");output.innerHTML = slider.value;slider.oninput = function() {output.innerHTML = this.value;};});